
/*CSS that is specific to the getting started page. */
  #GSWrapper{
    width: 100%;
    margin: 0 auto;
    font-family: 'Arial';
    max-width: 960px;
  }
   
  h1{
    padding-bottom: 8px;
  }

  header .site-cntr {
    margin-bottom: 35px;
  }

  header h1 {
    padding-bottom: 0;
  }

  .module{
    padding: 0 15px;
  }
  .filledHeader{
    font-size: 15px;
    line-height: 17px;
    padding-top: 2px;
    margin: 25px 0;
    height: 25px;
  }
  .filledHeader span{
    padding-left:15px;
  }
  .seven60ContentRight{
    display: none;
  }
  /*GLOBALS*/

    /*FLOATS*/
    .flRight{
      float:right;
    }
    .flLeft{
      float:left;
    }
    /*PADDING*/
    .fifteenUp{
      padding: 15px 0 0;
    }
    .twenty5UpDown{
      padding:25px 0;
    }
    .twenty5Up{
      padding:25px 0 0;
    }
    .twenty5Down{
      margin:0 0 25px;
    }
    /*COLORS*/
    .bgBlue{
      background-color: #425563;
    }
    .bgGrey{
      background-color: #7a8891;
    }
    /*FONTS*/
  .fontB{font-family:'CharlesModern';font-size:26px;line-height:32px;color:#111;font-weight:300; clear: both;}
  .fontC{font-family:'Arial';font-size:13px;line-height:17px;color:#333;}
  .fontD{font-family:'CharlesModern';font-size:19px;line-height:24px;color:#111; font-weight:700;}
  .fontE{font-family:'Arial';font-size:12px;line-height:16px;color:#111;}
  .fontF{font-family:'CharlesModern';font-size:16px;line-height:16px;color:#111;font-weight:400;}
  .fontG{font-family:'Arial';font-size:14px;line-height:14px;color:#111; font-weight:bold;}
  .fontH{font-family:'Arial';font-size:14px;line-height:14px;color:#111;}
  .fontI{font-family:'Arial';font-size:14px;line-height:14px;color:#666;}
  .fontJ{font-family:'CharlesModern';font-size:15px;line-height:25px;color:#fff;font-weight:400;}
  .fontK{font-family:'CharlesModern';font-size:15px;line-height:21px;color:#111;font-weight:400;}
  .fontL{font-family:'Arial';font-size:13px;line-height:17px;color:#222;}
  .fontM{font-family:'Arial';font-size:13px;line-height:17px;color:#222;font-weight:bold;}
  .fontN{font-family:'Arial';font-size:12px;line-height:16px;color:#333;}

  .earnContainer{
    margin-top:20px;
    padding-bottom: 15px;
  }
  .earnContainer h4{
    padding-top: 25px;
  }
  .bckMustard{
  background-color: #ede04a;
  }
  .formContainer .selAcct{padding-top:25px;}
  .formContainer .brokerage{padding:30px 0 25px;}
  .formContainer .brokerageOther{padding:8px 0 25px;}
  .formContainer label{margin-left:8px;}
  .formContainer .hrLine{border:solid 1px #bbb;margin:30px 0;}
  .formContainer .commisionFreeContainer{
    background-color: #f1f1f1;
    margin: 0 0 25px 0; 
    padding: 8px;
  }
  .formContainer .commisionFreeContainer input{
    float: left;
    margin-right: 11px;}
  .formContainer .commisionFreeContainer label{margin-left: 0px;}
  .formContainer .commisionFreeContainer #moreInfo{
    width: 100%;
    display: block;
    margin-left: 25px;
    text-decoration: none;
    color:#0066cc;
}
  .formContainer .commisionFreeContainer p.hide{
    display: none;
  }
  .formContainer .commisionFreeContainer p.show{
    margin-left: 25px;
    display: block;
  }
  .pricingSectionContainer{
    /*width:100%;*/
    padding-bottom:12px;
  }
  .pricingSectionContainer:nth-child(even){
    background-color: #f1f1f1;
    padding:12px 0;
  }
  .pricingSectionContainer:nth-child(3){
    /*width:100%;*/
    padding-top:12px;
  }

  .investorBizImgContainer{
    padding-top: 8px;
    padding-bottom:15px;
  }
  .investorBizImgContainer img{float:right;}
/*********************/
/*768 container*/
/*********************/
@media (min-width: 768px) {
  #GSWrapper{
    width: 100%;
    margin: 0 auto;
    font-family: 'Arial';
    max-width: 960px;
  }
  header .site-cntr {
    margin-bottom: 0;
  }

  .fontG{
    font-family: 'CharlesModern';
    font-size: 15px;
    line-height: 19px;
    color: #111;
    font-weight: normal;
    }
  .module{
    padding:0 40px;
  }
  h1{
    padding-bottom:22px;
  }
  .seven60WrapperLeft{
    width:79%;
    float:left;
    margin-top: 30px;
  }
  .seven60ContentRight{
    float:right;
    width:135px;
    display: block;
    margin-top:22px;
    padding-right:20px;
  }
  .seven60ContentRight .heroCallout{
    background-color:#425563;
    padding: 20px 11px 40px;
    border: solid 1px #c0c6cb;
  }
  .seven60ContentRight .heroCallout h4{
    color:#fff;
    font-family: 'CharlesModern';
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
  }
  .seven60ContentRight .heroCallout span{
    color:#fff;
    font-family: 'CharlesModern';
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
  .seven60ContentRight .heroCallout span{
    color:#fff;
    font-family: 'CharlesModern';
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
  .seven60ContentRight .copy{
    color:#333;
    font-family: 'Arial';
    font-size: 10px;
    line-height: 13px;
  }
  .seven60ContentRight .copy2{
    color:#333;
    font-family: 'Arial';
    font-size: 11px;
    line-height: 13px;
  }

  .formContainer .commisionFreeContainer{
    display:none;
  }
  .earnContainer{
    display:none;
  }
  .filledHeader{
    clear:both;
  }
  .formContainer .selAcct{
    display: none;
/*    padding-top:40px;
    font-family: 'CharlesModern';
    font-size: 14px;
    line-height: 16px;
    color: #666;
    font-weight: 400;
    text-align: right;
    width: 100%;*/
  }
  .formContainer{
    padding-top:40px;
  }
  .formContainer .brokerage {
    padding: 0px 0 25px;
  }
  form {
    width: 33%;
    float: left;
  }
  form .brokerage{
  padding: 0 0 25px;
  }
  form .hrLine{
    display:none;
  }
  #fromSchwab .inputWrapper{
    border-bottom: solid 1px #333333;
    border-top: solid 1px #333333;
    background-color:#ececec;
    padding: 20px 10px;
  }

  .filledHeadersWrapper{
    padding: 45px 0 0 40px;
    clear: both;
  }
  .filledHeadersWrapper .filledHeaderContainer{
    width: 50%;
    float: right;
    position: relative;
    padding: 0 0px;
    box-sizing: border-box;
  }
  .filledHeadersWrapper .filledHeaderContainer:nth-child(2){
    padding: 0 60px 0 0;
  }
  .filledHeadersWrapper .filledHeader {
    background-color: transparent;
    border-bottom: solid 1px #333;
  }
  .filledHeadersWrapper .filledHeader span{
  font-size: 14px;
  line-height: 19px;
  color:#111;
  padding-left:0px;
  }

  .filledHeadersWrapper #overallHeadline{padding:0px;}
  .filledHeadersWrapper .investorBizImgContainer{padding-left: 140px;}
  .filledHeadersWrapper #feesWrapper {padding:0px;}

  .filledHeaderContainer .pricingSectionContainer,
  .filledHeaderContainer .pricingSectionContainer .module{
    padding: 0px;
  }
  .filledHeaderContainer .pricingSectionContainer:nth-child(even){
    background-color: transparent;
  }

  #bottom-content{
    clear:both;
  }

}
@media (min-width: 590px) {
}
@media (min-width: 480px) {
}

  /*.footer-connect.hideAbove590{
    width: auto;
  }*/
/*

  .color{
    width:100%;
    padding: 20px 0;
    background-color: yellow;
  }
  .color .module h3{
    font-size: 19px;
  }
  .color .module p{
    font-size: 11px;
    letter-spacing: 0.8px;
  }
  .filledHeader{
      font-size: 15px;
      font-family: 'Charles';
  }
  .filledHeader h3{
    background-color: #425563;
    color:#fff;
    padding: 0 15px;
    line-height: 28px;
    font-family:'Charles';
  }

  .filledHeader .something{
    color:#111111;
    padding: 0 15px;
  }
