#GS-Wrapper{
  width: 100%;
  margin: 0 auto;
  font-family: 'Arial';
}
.module{
  padding: 0 15px;
}

h1{
  font-size: 26px;
  font-family: 'Arial';
}
p{
  line-height: 17px;
  font-family:'Arial';
  font-size: 11px;
}

/*.mustard{#ede04a;}*/
/*SECTION BREAKS*/
  .color{
    width:100%;
    padding: 20px 0;

    /*TO DO REMOVE*/
    background-color: yellow;
  }
  .color .module h3{
    font-size: 19px;
  }
  .color .module p{
    font-size: 11px;
    letter-spacing: 0.8px;
  }

  .filledHeader{
      font-size: 15px;
      font-family: 'Charles';
      /*TO DO REMOVE*/
  }
  .filledHeader h3{
    background-color: #425563;
    color:#fff;
    padding: 0 15px;
    line-height: 28px;
    font-family:'Charles';
  }
  /*to DO CHANGE CLASS*/
  .filledHeader .something{
    color:#111111;
padding: 0 15px;

  }