/*INSIGHT*/

/* Hero Image */
#hero-wrapper {
  width:100%;
}

#hero-image {
  background: url("../images/hero-960.jpg") no-repeat 100% 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-position: top left;
}

#hero-info-wrapper {
  margin-left:80px;
  margin-top:40px;
  width: 375px;
  height: 300px;
}
#hero-yellow-box{
  display:inline-block;
  background-color: rgba(237, 224, 75, 0.85);
  width:285px;
  height:285px;
}
#hero-text-wrap {
  color:#111;
  font-family:'CharlesModern';
  width: 245px;
  margin:40px 0 0 18px;
  float: left;
}
#hero-headline{
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
}
#hero-subline {
  font-size: 17px;
  line-height: 21px;
  margin-top:18px;
}

#hero-STS-image {
  margin-left: 2%;
  width: 20%;
  vertical-align: top;
}

@media (max-width: 768px) {
/* Hero 768 */
  #hero-image {
    background: url("../images/hero-768.jpg") no-repeat 100% 40%;
    background-size: cover;
  }
  #hero-yellow-box{
    width:230px;
    height:230px;
    position: relative;
  }
  #hero-text-wrap {
    width: 210px;
    margin: 18px 0 0 18px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  #hero-headline{
    font-size: 27px;
    line-height: 32px;
  }
  #hero-subline {
    font-size: 13px;
    line-height: 17px;
    margin-top: 14px;
  }
  #hero-STS-image { width:17%;}
  .info-box-text {  
    padding: 18px 13px 0 13px;
  }

}

@media (max-width: 590px) {
/* Hero 590px */
    #hero-wrapper {
      overflow:visible;
      width: 100%;
      max-width:100%;
      margin: 0 auto;
      padding: 0 15px;
      box-sizing:border-box;
    }

    #mobile-play-button {
      background-color: rgb(66, 85, 99);
      background-color: rgba(66, 85, 99, 0.8);
      margin: 58px auto;
      z-index: 2;
    }
}


@media (max-width: 340px) {
  #hero-wrapper {
    overflow:visible;
    width: 100%;
    max-width:100%;
  }
  #hero-image {
    background: url("../images/hero-320.jpg") no-repeat 100% 40%;
   }
}


