/* Hero Image */
#hero-image {
  background: url("../images/hero-960.jpg") no-repeat 100% 40%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#hero-info-wrapper {
  margin-left:60px;
  margin-top:50px;
  width: 400px;
}
#hero-yellow-box{
  display:inline-block;
  background-color: rgba(237, 224, 75, 0.85);
  width:298px;
  height:304px;
}
#hero-text-wrap {
  display:inline-block;
  color:#111;
  font-family:'CharlesModern';
  width: 95%;
  margin:80px 0 25px 18px;
}
#hero-headline{
  font-size: 33px;
  line-height: 40px;
  font-weight: 300;
}
#hero-subline {
  font-size: 17px;
  line-height: 21px;
  margin-top:10px;
}


#hero-STS-image {
  margin-left: 2%;
  width: 80px;
  vertical-align: top;
}
.tag {
  overflow: hidden;
  display: table;
  height: auto;
  margin-top: 40px;
}
.tag h2 {
  width: 74%;
  font-size: 20px;
  line-height: 30px;
  display: table-cell;
  vertical-align: middle;
  font-family: "charlesModern";
  color: #111;
}


.earn {
  background-color: #425563;
  height: 170px;
  float: right;
  width: 170px;
  position: relative;
  font-family: 'CharlesModern';
}
.earn p {
  color: #fff;
  line-height: 21px;
  font-size: 17px;
  padding: 18px 0px 18px 12px;
  margin: 0;
}
.earn b {
  font-size: 25px;
  font-weight: 200;
}
.earn > span {
  color: #fff;
  display: block;
  padding-left: 10px;
  float: right;
  bottom: 18px;
  font-size: 15px;
}
.earn > a{
  color:#fff;
  padding-left: 10px;
  font-size: 15px;
  position: absolute;
  bottom: 30px;
}

#bottom-content {
  overflow: hidden;
}

.web-trading {
  max-width: 800px;
  width: 100%;
  box-sizing:border-box;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display:block;
  margin: 20px auto;
  overflow: hidden;
}

.web-trading li {
  width: 49%;
  height: 100px;
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
  padding: 20px 0px 0px 20px;
  text-align: left;
  vertical-align: top;
  margin-bottom: 20px;
}
.web-trading li:nth-child(odd) {
  padding-left: 0;
  margin-right: 10px;
  float: left;
} 
.web-trading li:nth-child(even) {
  padding-right: 0;
  float: right;
} 

.web-trading li img {
  float: left;
  border: 1px solid #bbb;
  margin-right: 15px;
}
.web-trading li h2 {
  font-weight: bold;
}
.web-trading li p {
  color: #333333;
  font-size: 13px;
  line-height: 17px;
  margin-top: 6px;
}

#learn-more-tagline {
  font-family:  Arial, Helvetica, sans-serif;
  line-height: 17px;
  font-size: 13px;
}


@media (max-width: 954px) {
  /* Hero 960 */
    #hero-wrapper {
      width: 100%;
      overflow:hidden;
    }
    #hero-image {
      background-position: top left;
    }
}

@media (max-width: 768px) {
/* Hero 768 */
    #hero-wrapper {
      width: 100%;
      padding: 0;
    }
    #hero-image {
      background: url("../images/hero-768.jpg") no-repeat 100% 40%;
      background-size: cover;
    }
    #hero-info-wrapper {
      margin-left: 50px;
      margin-top: 30px;
    }
    #hero-text-wrap {
      margin: 60px 0 25px 15px;
    }
   
    #hero-yellow-box{
      width:248px;
      height:248px;
    }
   
    #hero-headline{
      font-size: 27px;
      line-height: 32px;
    }
    #hero-subline {
      font-size: 14px;
      line-height: 18px;
      margin-top:14px;
    }
  .tag h2 {
    font-size: 17px;
    line-height: 25px;
  }
  .earn {
    height:133px;
    width: 133px;
  }
  .earn a {
    font-size: 14px;
    bottom: 20px;
  }
  .earn p {
    color: #fff;
    line-height: 18px;
    font-size: 14px;
    padding: 18px 0px 0 12px;

  }
  .earn b {
    font-size: 27px;
    font-weight: 200;
  }
  .web-trading {
    padding: 0;
  }

  .page-margins {
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
  }
  .web-trading li {
    font-size: 13px;
    line-height: 17px;
    height: auto;
  }
  .web-trading li img {
    width: 73px;
    margin-bottom: 14px;
  }


}

@media (max-width: 730px) {
/* Hero 768 */
  .earn {
    width: 134px;
  }
  .web-trading li {
    height: 106px;
    margin-right: 0;
  }
}

@media (max-width: 590px) {
  .page-margins {
    padding: 0;
  }
/* Hero 590px */
    #hero-wrapper {
      overflow:visible;
      width: 100%;
      max-width:100%;
      height: 100%;
      margin: 0 15px;
      text-align: center;
      margin: 0;
      padding: 0 15px;
    }

    #mobile-play-button {
      background-color: rgb(66, 85, 99);
      background-color: rgba(66, 85, 99, 0.8);
      margin: 58px auto;
      z-index: 2;
    }
    .earn {
      display: none;
    }
    .web-trading li {
      width: 100%;
      float: none;
      margin-bottom: 0;
      padding-left: 0;
      height: auto;
    }
    .web-trading li:first-child {
     padding-top: 5px;
    }
    .web-trading {
      padding: 0 15px;
    }

    #bottom-content #large-tagline-wrapper {
      border-top: 1px solid #bbbbbb;
    }
    .tag {
      margin-top: 16px;
      padding:0 15px;
    }
    .tag h2 {
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      font-family:'CharlesModern';
      padding: 20px 8px 20px 15px;
      box-sizing: border-box;
      margin-top: 20px;
      height: auto;
      background-color: #f1f1f1;
    }


@media (max-width: 320px) {
    /* Hero 340px */
    #hero-wrapper {
      overflow:visible;
      width: 100%;
      max-width:100%;
      height: 100%;
      text-align: center
    }
     #hero-image {
      background: url("../images/hero-320.jpg") no-repeat 100% 40%;
     }

}




