/* Hero Image */
#hero-wrapper {
	width:100%;
	height:390px;
	background: url("../images/hero-960.jpg") no-repeat 100% 100%;
	padding:1px;
}

#hero-info-wrapper {
	margin-left:80px;
	margin-top:40px;
	width: 375px;
	height: 300px;
}
#hero-yellow-box{
	display:inline-block;
	background-color: rgba(237, 224, 75, 0.85);
	width:285px;
	height:285px;
}
#hero-text-wrap {
	color:#111;
	font-family:'CharlesModern';
	width: 275px;
	margin:40px 0 0 18px;
}
#hero-headline{
	font-size: 25px;
	line-height: 30px;
	font-weight: 300;
}
#hero-subline {
	font-size: 17px;
	line-height: 21px;
	margin-top:18px;
}
#video-play {
	padding: 0 18px 18px 0;
}

#hero-STS-image {
	margin-left: 2%;
	width: 20%;
	vertical-align: top;
}


/* Middle Content */
#middle-content {
		margin: 44px auto;
		margin-bottom: 0;
		max-width: 875px;
		font-family: 'CharlesModern', 'Helvetica', Arial, sans-serif;
		font-weight: 300;
		font-style: normal;
		width: 100%;
		padding: 0;
}


/* Info Box Content */

.info-box-wrap {
	width: 240px;
	display: inline-block;
	text-align: left;
}
.info-box-wrap a {
	width: 100%;
	display: block;
	font-family: 'CharlesModern', Arial, sans-serif;
	font-weight: 400;
	height: auto;
	}
.info-box {
	background: transparent;
	width: 232px;
	height: 167px;
}
.info-box img{
	display: block;
	margin: 0 auto;
}
.right-box .info-box img{
	padding-top: 20px;
}

.info-box:before {
	display: none;
}

.info-text {
		font-family: Arial;
		font-size: 14px;
		line-height: 17px;
		color:#333;
		width:250px;
}

.info-text-headings {height:115px;}
.info-text h1 { font-size:17px; margin-top:20px;}
.info-text hr { margin: 20px 0 20px 0;}

.info-box-subwrap {
	display: inline-block;
	height:60px;
	margin-bottom: 10px;
}
.info-box-sub-img {
	width:60px;
	vertical-align: top;
	display: inline-block;
}
.info-box-sub-text {
	width:180px;
	font-size: 13px;
	line-height: 15px;
	font-family: Arial;
	vertical-align: top;
	margin-left:5px;
	display: inline-block;
}
.mid-box { margin: 0 5%;}




/* --------------------------------------------------------

  960px

-------------------------------------------------------- */
@media (max-width: 954px) {
	/* Info Box Top Content 960 */
	#middle-content { width: 100%;}


	/* begin desktop */

	.info-box-wrap {
		width: 220px;
		display: inline-block;
		margin: 0 15px;
	}
	.info-box{
		position: relative;
		overflow: hidden;
		width: 220px;
		height: 167px;
	}
	.info-text{
		font-size: 13px;
		line-height: 16px;
		width: 220px;
	}
	.info-text h1 { 
		font-size:15px; 
		margin-top:20px;
	}
	.info-box-sub-img {
		width: 56px;
		height: 56px;
		border: 1px solid #bbb;
		box-sizing:border-box;

	}
	.info-box-sub-img img{
		width: 100%;
		height: 100%;
	}
	.info-box-sub-text {
		width: 142px;
		font-size: 12px;
		line-height: 15px;
		margin-left: 12px;
	}
	.mid-box { margin: 0 15px;}

	/* end desktop */

	.mid-info-box { padding-top: 60px;}
	.mid-info-text-wrap h1 { font-size:15px; line-height: 21px;}
	.mid-info-text-wrap p { font-size:13px; line-height: 17px; color:#333;}
	.mid-info-text-wrap li { font-size:13px; line-height: 17px; color:#111;}
		
	#middle-content .features-list {
			margin-top: 20px;
	}
	#middle-content .feature-section .feature-header {
			font-size: 13px;
			margin-bottom: 4px;
	}
	#middle-content .feature-section .feature-description {
			font-size: 13px;
			line-height: 18px;
	}
	#middle-content #learn-more-tagline {
			font-size: 13px;
	}
}




/* --------------------------------------------------------

  768px

-------------------------------------------------------- */
@media (max-width: 768px) and (min-width: 591px) {
	/* Hero 768 */
	#hero-wrapper {
		margin-left:-2px;
		height: 315px;
		width: 768px;
		background: url("../images/hero-768.jpg") no-repeat 100% 40%;
	}
	#hero-yellow-box{
		width:230px;
		height:230px;
	}
	#hero-text-wrap {
		width: 210px;
		margin: 25px 0 0 18px;
	}
	#hero-headline{
		font-size: 23px;
		line-height: 28px;
	}
	#hero-subline {
		font-size: 14px;
		line-height: 18px;
	}
	#video-play {
		margin-top:-10px;
	}
	#video-play img {
		width: 27px;
	}
	#hero-STS-image { width:17%;}

	/* Middle Content 768 */
	#middle-content {
		margin-top: 25px;
		margin-bottom: 0;
		width: 100%;
		padding: 0 40px;
		box-sizing:border-box;
	}

	.info-box-wrap {
		width: 189px;
	}
	#info-box-content .left-box {
		margin-left: 0;
	}
	#info-box-content .right-box {
		margin-right: 0;
	}
	.info-text {
		width: 100%;
	}
	.info-box {
		width: 100%;
		height: 135px;
	}

	.left-box .info-box > img, .mid-box .info-box > img {
		width: 100%;
		height: auto
	}
	.info-box-sub-img {
		width: 50px;
		height:50px;
	}
	.info-box-sub-text {
		width: 123px;
		margin-left: 9px;
	}
	.info-box-subwrap {
		height: auto;
		min-height: 60px;
		margin-bottom: 15px;
	}

	.info-box-text { padding: 18px 18px 0 18px;}
	
	
	.mid-info-pad-right {margin-right:2%;}
	.mid-info-text-wrap h1 { font-weight:normal; color:#111;}

}

@media (max-width: 768px) {
	.info-box-wrap {
		width: 200px;
	}
	#middle-content {
		padding: 0 10px;
	}
	.info-box-sub-text {
		width: 130px;
	}
	.info-text-headings {
		height: 120px;
		}
	.mid-box {
		margin: 0 10px;
	}
	.info-box {
		width: 100%;
		height: 149px;
	}
}

@media (max-width: 690px) {
	.info-box-wrap {
		width: 170px;
	}
	#middle-content {
	 padding: 0;
	}
	.info-box-sub-text {
		width: 96px;
	}
	.info-text-headings {
		height: 120px;
		}
	.mid-box {
		margin: 0 10px;
	}
}




/* --------------------------------------------------------

  590px

-------------------------------------------------------- */
@media (max-width: 590px) {
		/* Hero 590px */
		#hero-wrapper {
			overflow:visible;
			width: 100%;
			max-width:91%;
			height: 100%;
			margin: 0 15px;
			/*background: url("../images/hero-480.jpg") no-repeat 100% 40%;*/
			background-size: cover;
			text-align: center;
		}
		#hero-image { z-index:-1; }

		#mobile-play-button {
				background-color: rgb(66, 85, 99);
				background-color: rgba(66, 85, 99, 0.8);
				margin: 58px auto;
				z-index: 2;
		}
	
		#info-box-content {
			padding: 0 15px;
			margin-top: 0px;
		}
		.info-box-wrap, .info-box, .info-text {
			width: 100%;
			margin-left: 0;
		}
		.info-box {
			min-height: 171px;
		}

		.info-box-btm-wrap {
			display: none;
		}
		#middle-content .video-description div {
			text-align: left;
			padding-right: 0;
		}
		#middle-content .video-description {
			font-size: 15px;
			line-height: 20px;
			padding: 0;
			margin: 0;
			width: 100%;
			text-align: left;
			padding: 20px 15px;
			box-sizing:border-box;
			margin-top: 20px;
			height: auto;
			margin-bottom: 5px;
		}
		.info-text-headings {
			height: auto;
		}
		.info-text p {
			margin-top: 11px;
		}

		/* Mid Page Content 590 */
		#middle-content {
			margin-top: 0px;
		}
		.mid-info-box{
			padding: 20px 0 20px 10px;
			margin-top:6px;
			height:auto;
			overflow:visible;
			background-color: #f1f1f1
		}
		.shrink {
			overflow:hidden;
		}
		.mid-info-box span{font-size: 2em;}

		.info-box-text {
			padding: 16px 16px 0 16px;
		}
		.info-box-text p { font-size: 1.48em;}

		.mobile-only-info{
			width:100%;
			display:inline-block;
			padding-bottom:10px;
		}
		.mobile-tools .info-box-subwrap {
			width: 100%;
			text-align: left;
			margin-bottom: 25px;
		}
		.mobile-tools .info-box-sub-text {
			width: 72%;
			font-size: 13px;
		}
		.mobile-tools > h2 {
			padding-bottom: 20px;
			padding-top: 5px;
			font-size: 16px;
			line-height: 20px;
			text-align: left;
			font-weight: 500;
		}
		#bottom-content #large-tagline-wrapper {
			border-top: 1px solid #bbbbbb;
		}
}





/* --------------------------------------------------------

  480px

-------------------------------------------------------- */
@media (max-width: 480px) {
		
		/* Mid Information Boxes 480 */
		.mid-info-box{
			padding: 20px 0 20px 10px;
			margin-top:6px;
			height:auto;
			overflow:visible;
			background-color: #f1f1f1
		}
		.shrink {
			overflow:hidden;
		}
		.mid-info-box span{font-size: 2em;}
		.mobile-only-info{
			width:100%;
			display:inline-block;
			padding-bottom:10px;
		}
		.plus-minus {
			display:inline-block;
			vertical-align: top;
			margin: -6px 5px 0 0;
			width:14px;
		}
		#middle-content #iphone-image {
				top: -20px;
				height: 205px;
		}
		#middle-content .feature-section .feature-description {
				line-height: 17px;
		}
		#bottom-content #large-tagline-wrapper {
				text-align: left;
		}
		#bottom-content #offerBanner {
				/*border-top: 1px #e1e1e1 solid;*/
				/*padding-top: 25px;*/
		}
}




/* --------------------------------------------------------

  340px

-------------------------------------------------------- */

@media (max-width: 340px) {
		.mid-info-box { margin-top:8px; }
		.mobile-only-info { padding-bottom:0;}
		.mobile-only-text h1 { font-size:16px; color:#06c;}
		.mobile-only-text p { font-size:13px; font-weight: normal;}
		.mid-info-text-wrap { padding-left:22px;padding-top:20px;}
		.mid-info-text-wrap p { font-size:13px; font-weight:400;}
		.mid-info-text-wrap li { font-size:13px; font-weight:400;}
		.mid-info-text-wrap li a { font-size:13px; font-weight:400;}
}

