/*SERVICE*/

/* Hero Image */
#hero-wrapper {
  width:100%;
}
#hero-image {
  background: url("../images/hero-960.jpg") no-repeat 100% 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-position: top left;
}

#hero-info-wrapper {
  margin-left:80px;
  margin-top:40px;
  width: 375px;
  height: 300px;
}
#hero-yellow-box{
  display:inline-block;
  background-color: rgba(237, 224, 75, 0.85);
  width:285px;
  height:285px;
}
#hero-text-wrap {
  color:#111;
  font-family:'CharlesModern';
  width: 225px;
  margin:30px 0 0 18px;
}
#hero-headline{
  font-size: 33px;
  line-height: 35px;
  font-weight: 300;
  margin-right:40px;
}
#hero-subline {
  font-size: 17px;
  line-height: 21px;
  margin-top:18px;
}

#hero-STS-image {
  margin-left: 2%;
  width: 20%;
  vertical-align: top;
}


@media (max-width: 768px) {
/* Hero 768 */
#hero-image {
    background: url("../images/hero-768.jpg") no-repeat 100% 40%;
    background-size: cover;
  }
  #hero-yellow-box {
    width:230px;
    height:230px;
  }
  #hero-text-wrap {
    width: 190px;
    margin: 25px 0 0 18px;
  }
  #hero-headline{
    font-size: 27px;
    line-height: 33px;
  }
  #hero-subline {
    font-size: 14px;
    line-height: 18px;
    margin-top:15px;
  }
  #hero-STS-image { width:17%;}

}


@media (max-width: 590px) {
/* Hero 590px */
    #hero-wrapper {
      overflow:visible;
      width: 100%;
      max-width:100%;
      margin: 0;
      padding: 0 15px;
      text-align: center;
    }

    #mobile-play-button {
        background-color: rgb(66, 85, 99);
        background-color: rgba(66, 85, 99, 0.8);
        margin: 58px auto;
        z-index: 2;
    }

}


@media (max-width: 340px) {
    /* Hero 340px */
    #hero-wrapper {
      overflow:visible;
      width: 100%;
      max-width:100%;
      text-align: center
    }
    #hero-image {
      background: url("../images/hero-320.jpg") no-repeat 100% 40%;
       background-size: cover;
     }
  }










