/* Hero Image */
#hero-wrapper {
	width:100%;
	height:390px;
	background: url("../images/hero-960.jpg") no-repeat 100% 100%;
	padding:1px;
}

#hero-info-wrapper {
	margin-left:80px;
	margin-top:40px;
	width: 375px;
	height: 375px;
}
#hero-yellow-box{
	display:inline-block;
	background-color: rgba(237, 224, 75, 0.85);
	width:285px;
	height:285px;
}
#hero-text-wrap {
	display:inline-block;
	color:#111;
	font-family:'CharlesModern';
	width: 180px;
	margin:40px 0 30px 18px;
}
#hero-headline{
	font-size: 33px;
	line-height: 40px;
	font-weight: 300;
}
#hero-subline {
	font-size: 17px;
	line-height: 21px;
	margin-top:18px;
}
#video-play {
	display:inline-block;
	padding: 220px 18px 0 18px;
}

#hero-STS-image {
	margin-left: 2%;
	width: 20%;
	vertical-align: top;
}

